<div class="row">
    <div class="col-md-6">
<div class="list-group-flush" id="list-tab" role="tablist">
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-gstregistration-list" data-toggle="list" href="#list-gstregistration" aria-controls="gstregistration">GST Registration</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">GST Return</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Income Tax Return</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Digital Signature</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Balance Sheet</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">FSSAI Registration</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Tender Filing</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">TDS Return</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Tax Audit</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">GST Audit</a>
 
   
</div>
</div>

<div class="col-md-6">
<div class="list-group-flush" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Trade Mark Licence</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Accounts Preparation</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Tender Documents</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Company Annual Return</a>
  <a class="list-group-item list-group-item-action" style=font-size:19px; id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Company Formation</a>

</div>

</div>
