<div class="container gallery-container">

  <h1>Gallery</h1>

  <!-- <p class="page-description text-center">Thumbnails With Title And Description</p> -->
  
  <div class="tz-gallery">

      <div class="row">

          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <a class="lightbox" href="assets/gallery/a.jpeg">
                      <img src="assets/gallery/a.jpeg" alt="Park">
                  </a>
                  <!-- <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> -->
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <a class="lightbox" href="assets/gallery/b.jpeg">
                      <img src="assets/gallery/b.jpeg" alt="Bridge">
                  </a>
                  <!-- <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> -->
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <a class="lightbox" href="assets/gallery/c.jpeg">
                      <img src="assets/gallery/c.jpeg" alt="Tunnel">
                  </a>
                  <!-- <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> -->
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <a class="lightbox" href="assets/gallery/d.jpeg">
                      <img src="assets/gallery/d.jpeg" alt="Coast">
                  </a>
                  <!-- <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> -->
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <a class="lightbox" href="assets/gallery/e.jpeg">
                      <img src="assets/gallery/e.jpeg" alt="Rails">
                  </a>
                  <!-- <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> -->
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <a class="lightbox" href="assets/gallery/f.jpeg">
                      <img src="assets/gallery/f.jpeg" alt="Traffic">
                  </a>
                  <!-- <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> -->
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href="assets/gallery/g.jpeg">
                    <img src="assets/gallery/g.jpeg" alt="Traffic">
                </a>
                <!-- <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div> -->
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <a class="lightbox" href="assets/gallery/h.jpeg">
                  <img src="assets/gallery/h.jpeg" alt="Traffic">
              </a>
              <!-- <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div> -->
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a class="lightbox" href="assets/gallery/i.jpeg">
                <img src="assets/gallery/i.jpeg" alt="Traffic">
            </a>
            <!-- <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div> -->
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
          <a class="lightbox" href="assets/gallery/j.jpeg">
              <img src="assets/gallery/j.jpeg" alt="Traffic">
          </a>
          <!-- <div class="caption">
              <h3>Thumbnail label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div> -->
      </div>
  </div>
      </div>

  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>
