<!-- 
<div class="row" >
    <nav class="navbar navbar-default navbar-fixed-top navtp nasd">

     <div class="container navlogo-pd">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed navbar-brand navbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a href="/mainhome" style="text-decoration: none;"><img src="./assets/tax.jpeg" alt="logo" width="87" height="41" /> &nbsp;&nbsp;</a>
       </div>


       <div id="navbar" class="collapse navbar-collapse .navbar-fixed-width">

             <ul class="nav navbar-nav fl_left">
                     <li class="#"><a href="tel:+91 629 992 3629" hreflang="x-default"><i class="fa fa-phone"></i> &nbsp; &nbsp;+91 620 391 8465 <span class="sr-only">(current)</span></a></li>
                      <li class="mob"><a href="mailto:taxarenaonline@gmail.com" hreflang="x-default"><i class="fa fa-envelope-o"></i> &nbsp; &nbsp;taxarenaonline@gmail.com</a></li> 
                     </ul>

             <ul class="nav navbar-nav navbar-right fl-right">
               
                 <li><a class="faicon-facebook" href="https://www.facebook.com/taxarenaonline/" target="_blank" hreflang="x-default"><i class="fa fa-facebook"></i></a>&nbsp;</li>
                  <li><a class="faicon-twitter"  href="https://twitter.com/Ta" target="_blank" hreflang="x-default"><i class="fa fa-twitter"></i></a>&nbsp;</li> 
                 <li><a class="faicon-linkedin"  href="https://www.linkedin.com/company/gst-suvidha-online?trk=biz-companies-cym" target="_blank" hreflang="x-default"><i class="fa fa-linkedin"></i></a>&nbsp;</li>
                 <li><a class="faicon-instagram"  href="https://www.instagram.com/taxarenaonline/" target="_blank" hreflang="x-default"><i class="fa fa-instagram"></i></a>&nbsp;</li>

               


 <li> <a class="btn btn-link"  routerLink="/services" style="text-decoration: none; color: black;">
     Services &nbsp;

 </a></li>



 <li><a   routerLink="/contact-us" style="text-decoration: none; color: black;">
     Contact Us &nbsp; &nbsp;
  </a> </li>
 </ul>



 </div>




   </div>

   </nav>
 </div>





 -->





<!-- <nav class="navbar navbar-expand-lg navbar-light bg-a">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="navbar-header">
        <a class="navbar-brand" style=font-size:30px;color:greenyellow; href="/taxArena">Tax Arena</a>
      </div> -->



    <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
       </div> -->

    <nav class="navbar navbar-expand-sm bg-light fixed-top">

        <ul class="nav navbar-nav">
            <li class="#"><a routerLink="/taxArena" style="text-decoration: none; color: black; font-size: 18px;"
                    hreflang="x-default"><i class="fa fa-home"></i> TAX ARENA <span class="sr-only">(current)</span></a></li>&nbsp;
            <li class="#"><a href="tel:+91 629 992 3629" style="text-decoration: none; color: black; font-size: 18px;"
                    hreflang="x-default"><i class="fa fa-phone"></i> &nbsp;+91 620 391 8465 <span class="sr-only">(current)</span></a></li>&nbsp;


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="text-decoration: none; color: black; font-size: 18px;">
                    More</a>
            <div class="dropdown-menu">
            <!-- <li class="mob"><a href="mailto:taxarenaonline@gmail.com" style="text-decoration: none; color: black; font-size: 16px;"
                    hreflang="x-default"><i class="fa fa-envelope-o"></i>taxarenaonline@gmail.com</a></li> -->
          
                    <li> <a class="btn btn-link" routerLink="/services" style="text-decoration: none; color: black; font-size: 16px;">
                      Services &nbsp;</a></li>

                      <li><a class="btn btn-link" routerLink="/gallery"  style="text-decoration: none; color: black; font-size: 16px;">
                        Gallery
                    </a>
                   
                    </li>
                   

            <li><a class="btn btn-link" routerLink="/contact-us" style="text-decoration: none; color: black; font-size: 16px;">
                    Contact Us</a></li>
          
            </div>
    </li>
    </ul>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
             <div class="nav navbar-nav">
                <li><a class="faicon-facebook" style="text-decoration: none; color: rgb(84, 111, 201); font-size: 22px;" href="https://www.facebook.com/taxarenaonline/"
                        target="_blank" hreflang="x-default"><i class="fa fa-facebook"></i></a>&nbsp;</li>
                &nbsp;
                <li><a class="faicon-twitter" style="text-decoration: none; color:rebeccapurple; font-size: 22px;" href="https://twitter.com/Ta"
                        target="_blank" hreflang="x-default"><i class="fa fa-twitter"></i></a>&nbsp;</li>
                &nbsp;
                <li><a class="faicon-linkedin" style="text-decoration: none; color:goldenrod; font-size: 22px;" href="https://www.linkedin.com/company/gst-suvidha-online?trk=biz-companies-cym"
                        target="_blank" hreflang="x-default"><i class="fa fa-linkedin"></i></a>&nbsp;</li>
                &nbsp;
                <li><a class="faicon-instagram" style="text-decoration: none; color: ff1493; font-size: 22px;" href="https://www.instagram.com/taxarenaonline/"
                        target="_blank" hreflang="x-default"><i class="fa fa-instagram"></i></a>&nbsp;</li>

                        <li class="mob"><a href="mailto:taxarenaonline@gmail.com" style="text-decoration: none; color: black; font-size: 17px;"
                          hreflang="x-default"><i class="fa fa-envelope-o"></i>taxarenaonline@gmail.com</a></li>
    
                </div>
                </nav>

<!-- </nav> -->