<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
  <ul class="navbar-nav float-right">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/taxArena" routerLinkActive="active">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>

      
    </li>

    <li><a class="faicon-facebook" href="https://www.facebook.com/GSTSuvidha/" style="margin-top: 5px; border-top: 5px;" target="_blank" hreflang="x-default"><i class="fa fa-facebook"></i></a>&nbsp;</li>

    <li class="nav-item">
        
        <li class="nav-item">

          

  </li>
  
  <li class="nav-item">
      <a class="nav-link" href="#">Services Offered</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
  </ul>


</nav> -->
  <div class="nasd">
<app-nav-bar></app-nav-bar>
</div>
<br><br><br><br><br><br>
  <router-outlet></router-outlet>
  <!-- <footer style="background: white">
    <label style="font-size: 18px">
      Address: Bhabha Colony, 90ft Road,<br>
               Kankarbagh, Patna-800020
    </label>
  </footer> -->
  <nav class="navbar navbar-expand-sm bg-light fixed-bottom" style="margin-bottom:0px">
      <label style="font-size: 18px">
          Address : </label>&nbsp;&nbsp;
          <label style="font-size: 14px">Bhabha Colony, 90ft Road,<br>
                   Kankarbagh, Patna-800020</label>
        
  </nav>

  

   